{% extends 'index.html' %}

{% block left%}
    <div class='container'>
        <div class='item'>
            <button value='Problems' id='check-database'> Problems
        </div>
        <div class='item'>
            <button value='Problems' id='add-to-database'> Add problem
        </div>
    </div>            
{% endblock %}  



{% block right %}
<form  method="post">
    <div class="form">
        <div class="subtitle">Let's add a new problem!</div>
        <div class="input-container ic1">
        <input class="input" type="text" placeholder=" " name='problem'/>
        <div class="cut"></div>
        <label  class="placeholder">Problem</label>
        </div>
        <div class="input-container ic2">
        <input  class="input" type="text" placeholder=" " name='description' />
        <div class="cut"></div>
        <label class="placeholder">Description</label>
        </div>
        <button type="text" class="submit">submit</button>
        {% if error_message %}
        <div style='color:red' class="error">{{ error_message }}</div>
        {% endif %}
    </div>
    
</form>
  
{% endblock %}



