* {
    box-sizing: border-box;
}

body {
    margin: 0;
  }
  
  #grid {
    height: 100vh;
  }
  
  #left {
    background: rgb(20, 20, 20);
  }
  
  #right {
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    background: rgb(73, 72, 72);
    border: 3rem solid rgb(0 0 0 / 10%);
  }
  
  
  #grid {
    transition: 300ms;
    display: grid;
    grid-template-columns: 20px auto;
    
    
  }
  
  #grid:has(#left:hover) {
    
    grid-template-columns: 20% auto;
  }
  

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
}


.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.item {
    padding: 10px;
    width: 10vw;
}

button {
    height: 60%;
    width: 60%;
  }



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20); 
    color: white; 
    height:5vh;
    width: 100%;
}

.nice-hr{
    height: 1vh;
    background-color: white;
    margin:0;
    width: 100%;
}

.form {
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  

  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #000000;
    font-family: 'Open Sans', sans-serif;
  }
  table {
    width: 50vw;
    height: 20vh;
    background: #000000;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }

  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #08d;
  }
  
  td {
    height: 10%;
  }

  .btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
  
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        var(--primary-color),
        transparent
      );
      transform: translateX(-100%);
      transition: 0.6s;
    }
 
  }
  
  .form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
  } 
    input {
      color: #000000;
    }

  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  }
    h1 {
      margin: 0 0 24px 0;
    }
  
    .form-input-material {
      margin: 12px 0;
    }
  
    .btn {
      width: 100%;
      margin: 18px 0 9px 0;
    }
  
    button:hover  {
    transform: scale(1.15);
    transition: all 1s;
    }

    #message-container {
      opacity: 0;
      transition: opacity 1s ease-in;
      font-size: 5rem;
    }